/*! CSS Used from: Embedded */
.ckLyyv {
  display: inline-block;
  flex-shrink: 0;
  vertical-align: middle;
  transition: transform 0.2s ease-out 0s;
  fill: currentcolor;
}
*,
::before,
::after {
  box-sizing: inherit;
}
.bNTqDE {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  border-radius: 2px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  background-image: none;
  background-position: left top;
  background-size: 100%;
  box-shadow: rgba(18, 18, 18, 0.15) 0px 1px 4px 0px;
}
.coCZnA {
  position: relative;
  margin: 0px -12px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(18, 18, 18, 0.15) 0px 1px 4px 0px;
  transition: box-shadow 0.4s cubic-bezier(0.1, 0.85, 0.25, 1) 0s;
}
.coCZnA::before {
  background-color: rgb(2, 77, 223);
  background-image: linear-gradient(90deg, rgb(70, 117, 232), rgb(2, 77, 223));
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.1, 0.85, 0.25, 1) 0s;
  content: "";
}
.coCZnA::after {
  background-color: rgb(2, 77, 223);
  background-image: linear-gradient(rgb(70, 117, 232), rgb(2, 77, 223));
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 32px;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.1, 0.85, 0.25, 1) 0s;
  content: "";
}
.sc-eywb9q-0:hover .sc-eywb9q-1,
.sc-eywb9q-0:focus .coCZnA {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 20px 0px;
}
.sc-eywb9q-0:hover .sc-eywb9q-1::after,
.sc-eywb9q-0:focus .coCZnA::after {
  opacity: 1;
}
.sc-eywb9q-0:hover .sc-eywb9q-1::before,
.sc-eywb9q-0:focus .coCZnA::before {
  opacity: 0.4;
}
.fvQgzg {
  position: absolute;
  top: 50%;
  right: 4px;
  z-index: 1;
  margin-top: -12px;
  transform: rotate(-90deg);
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.1, 0.85, 0.25, 1) 0s;
  fill: rgb(255, 255, 255);
}
.sc-eywb9q-0:hover .sc-eywb9q-2,
.sc-eywb9q-0:focus .fvQgzg {
  opacity: 1;
}
.eNnAhX {
  animation: 0.3s ease-in 0s 1 normal forwards running jBcSpD;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
