.custom {
  line-height: 1.4;
  font-size: 16px;
  font-family: Averta, helvetica, arial, sans-serif;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  width: 100%;
  height: 1px;
  color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: 50% 0px;
  background-size: cover;
  min-height: 30vw;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 60%,
      transparent 90%
    ),
    url("https://s1.ticketm.net/dam/a/bc8/d2f07a47-3a5a-4d7a-88a6-0c0c47da4bc8_SOURCE?width=1440&height=450&fit=cover&optimize=high&auto=webp");
}
.hr {
  line-height: 1.4;
  color: rgb(18, 18, 18);
  font-size: 16px;
  font-family: Averta, helvetica, arial, sans-serif;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
}
.QWlNG {
  background: url("https://auth.ticketmaster.com/static/en-us/images/left-panel-image.png")
    0% 0% / cover rgb(31, 38, 45);
}
.fYvavw {
  /* display: none; */
  text-size-adjust: 100%;
  font-family: inherit;
  line-height: 1.15;
  margin: 0px;
  text-transform: none;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  color: rgb(38, 38, 38);
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  transition: border-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
    z-index 0s ease 0.3s;
  /* appearance: none; */
  background-image: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg"  width="16" height="16" viewBox="0 0 16 16"><g fill="none" fill-rule="evenodd"><path d="M16 0H0v16h16z" /><path fill="%23262626" fill-opacity=".65" fill-rule="nonzero" d="M3.278 5.459A.75.75 0 0 0 2.221 6.52l5.263 5.24a.75.75 0 0 0 1.059 0L13.78 6.52a.75.75 0 0 0-1.06-1.06l-4.71 4.711L3.278 5.46z"/></g></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 50%;
  z-index: 1;
  display: block;
  height: 36px;
  font-size: 14px;
  border: 1px solid rgb(153, 153, 153);
  width: 100%;
  opacity: 0;
  padding: 1px 42px 1px 13px;
}

/* .lgbMrD{
  display: none;
} */
/* .jjYIOP {
  width: 340px;
  /* max-width: 340px; */
  line-height: 1.15;
  text-size-adjust: 100%;

  overflow: hidden;

  will-change: max-width;
  border-radius: 4px 0px 0px 4px;

  transition: max-width 0.3s linear 0s, min-width 0.3s linear 0.25s;
}
@media screen and (max-width: 768px) {
  /* CSS styles that will apply when the screen width is at most 768px */
  /* For example: */
  .jjYIOP {
    max-width: 0px;
  }
} */
