/*! CSS Used from: Embedded */
.jGpSBw {
  text-decoration: none;
  transition: color 0.3s ease 0s, text-decoration 0.3s ease 0s;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.25;
  color: rgb(2, 108, 223);
  display: inline-block;
  appearance: none;
  border: 0px;
  outline: 0px;
  background: transparent;
  padding: 0px;
  cursor: pointer;
}
.jGpSBw:focus {
  outline: none;
  text-decoration: underline;
}
.jGpSBw:visited {
  color: rgb(2, 108, 223);
}
.jGpSBw:active {
  color: rgb(1, 80, 167);
}
.jGpSBw:hover {
  color: rgb(1, 80, 167);
}
.jGpSBw.noFocus:focus {
  text-decoration: none;
}
.jJFvBj {
  display: flex;
  position: relative;
}
.jJFvBj.text--input-top {
  flex-direction: column;
  justify-content: left;
}
.gBLXYy {
  font-size: 12px;
  line-height: 1.25;
  text-align: left;
  color: rgb(38, 38, 38);
  position: relative;
}
.text--input-top .gBLXYy {
  margin-bottom: 6px;
}
.dnZKXh {
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 2;
  flex-grow: 2;
}
.bCbrvZ {
  height: 36px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(153, 153, 153);
  padding-left: 10px;
  padding-right: 10px;
  line-height: normal;
  font-size: 14px;
  color: rgb(38, 38, 38);
}
.bCbrvZ::placeholder {
  color: rgb(38, 38, 38);
  opacity: 0.4;
}
.bCbrvZ:focus {
  border: 1px solid rgb(2, 108, 223);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  box-shadow: rgb(2, 108, 223) 0px 0px 4px 0px inset;
  background-color: rgb(255, 255, 255);
  outline: none;
}
.bCbrvZ:hover {
  border: 2px solid rgb(2, 108, 223);
  padding-left: 9px;
  padding-right: 9px;
}
.iIlbhU {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 0px;
}
@media (min-width: 320px) {
  .iIlbhU {
    padding-top: 32px;
    padding-bottom: 0px;
  }
}
@media (min-width: 375px) {
  .iIlbhU {
    padding-top: 32px;
    padding-bottom: 0px;
  }
}
@media (min-width: 720px) {
  .iIlbhU {
    padding-top: 32px;
    padding-bottom: 0px;
  }
}
@media (min-width: 900px) {
  .iIlbhU {
    padding-top: 32px;
    padding-bottom: 0px;
  }
}
.kILqrX {
  position: relative;
  display: flex;
  outline: none;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  height: 100%;
  min-height: 320px;
  border-radius: 8px;
}
@media (min-width: 375px) {
  .kILqrX {
    max-height: 800px;
  }
}
.jjYIOP {
  overflow: hidden;
  width: 340px;
  will-change: max-width;
  border-radius: 4px 0px 0px 4px;
}
.jjYIOP p {
  will-change: min-width;
}
.fIcDpF {
  width: 100%;
  max-width: 520px;
  min-width: 0px;
}
@media (min-width: 720px) {
  .fIcDpF {
    width: 100vw;
  }
}
@media screen and (min-width: 520px) {
  .fIcDpF {
    width: 520px;
  }
}
.gtVEMN {
  height: 100%;
}
@media screen and (max-width: 520px) {
  .gtVEMN {
    width: 100%;
  }
}
.gtVEMN .sc-pdkfH {
  max-width: 0px;
  transition: max-width 0.3s linear 0s, min-width 0.3s linear 0.25s;
}
.gtVEMN .sc-pdkfH p {
  min-width: 175px;
}
@media (min-width: 720px) {
  .gtVEMN .sc-pdkfH {
    max-width: 340px;
    transition: max-width 0.3s linear 0s, min-width 0.3s linear 0.25s;
  }
  .gtVEMN .sc-pdkfH p {
    min-width: 175px;
  }
}
@media screen and (orientation: landscape) and (min-device-width: 319px) and (max-device-width: 480px) {
  .gtVEMN .sc-pdkfH {
    max-width: 0px;
  }
  .gtVEMN .sc-pdkfH p {
    min-width: 175px;
  }
}
.Irslq {
  width: 100%;
  position: relative;
  height: 100%;
  margin: 0px auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.fxkiPO {
  font-size: 16px;
}
.epwCCd {
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 21px;
  height: 36px;
  right: 0px;
  line-height: normal;
  color: rgb(38, 38, 38);
  opacity: 0.65;
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  padding: 0px 15px;
  outline-style: none;
  text-transform: uppercase;
  cursor: pointer;
}
.epwCCd:focus {
  outline: none;
  text-decoration: underline;
}
.kWNMYH {
  font-size: 12px;
  line-height: 1.25;
  text-align: left;
  color: rgb(38, 38, 38);
  margin-bottom: 6px;
  margin-top: 8px;
  position: relative;
}
.fLYRsF {
  font-size: 12px;
  line-height: 1.25;
  text-align: left;
  position: relative;
}
.fnmilh {
  position: relative;
}
.llSSXf {
  overflow: hidden;
  height: auto;
  max-height: 0px;
}
.QWlNG {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
  background: url("https://auth.ticketmaster.com/static/en-us/images/left-panel-image.png")
    0% 0% / cover rgb(31, 38, 45);
  padding: 0px 32px;
}
.btweUI::after {
  content: "";
  display: block;
  width: 64px;
  height: 4px;
  background: rgb(0, 255, 255);
}
.hvztVO {
  margin: 2px 0px;
  display: inline;
  line-height: 1.25;
  font-weight: 600;
  font-size: 54px;
  color: rgb(0, 255, 255);
}
@media screen and (min-width: 1024px) {
  .hvztVO {
    font-size: 46px;
  }
}
.hMjWKd {
  margin: 2px 0px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: rgb(235, 235, 235);
}
.lgHeMB {
  display: flex;
  margin-bottom: 32px;
}
.lgHeMB > div {
  margin-left: auto;
  width: 100%;
  text-align: right;
}
.jvKDQp {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-shrink: 0;
}
.fiLrTI {
  margin: 2px 0px;
  color: rgb(38, 38, 38);
  display: inline;
  line-height: 1.25;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 1024px) {
  .fiLrTI {
    font-size: 24px;
  }
}
@media (min-width: 375px) {
  .fiLrTI {
    font-size: 24px;
  }
}
.bvTLbK {
  display: flex;
  flex-direction: column;
}
.gaffan {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 2.43;
  width: 100%;
  padding: 0px 12px;
  min-width: 60px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(2, 108, 223);
  border: 1px solid transparent;
  transition: background-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}
.gaffan:focus {
  outline: none;
  box-shadow: rgb(2, 108, 223) 0px 0px 5px 0px;
}
.gaffan:hover {
  background-color: rgb(1, 80, 167);
}
.gaffan:active {
  transform: scale(0.98, 0.98) translate(0px, 1px);
  background-color: rgb(1, 80, 167);
}
.gaffan:disabled {
  transform: none;
  color: rgb(255, 255, 255);
  background-color: rgb(2, 108, 223);
  border: 1px solid transparent;
  opacity: 0.2;
}
.gaffan.noFocus:focus {
  box-shadow: none;
}
.bCzCze {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  color: rgb(38, 38, 38);
}
.hhGnEO {
  text-decoration: none;
  transition: color 0.3s ease 0s, text-decoration 0.3s ease 0s;
  font-weight: 600;
  line-height: 1.25;
  color: rgb(2, 108, 223);
  display: inline-block;
}
.hhGnEO:focus {
  outline: none;
  text-decoration: underline;
}
.hhGnEO:visited {
  color: rgb(2, 108, 223);
}
.hhGnEO:active {
  color: rgb(1, 80, 167);
}
.hhGnEO:hover {
  color: rgb(1, 80, 167);
}
.hhGnEO.noFocus:focus {
  text-decoration: none;
}
.bVpxDS {
  text-decoration: none;
  transition: color 0.3s ease 0s, text-decoration 0.3s ease 0s;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.25;
  color: rgb(2, 108, 223);
  display: inline-block;
  appearance: none;
  border: 0px;
  outline: 0px;
  background: transparent;
  padding: 0px;
  cursor: pointer;
}
.bVpxDS:focus {
  outline: none;
  text-decoration: underline;
}
.bVpxDS:visited {
  color: rgb(2, 108, 223);
}
.bVpxDS:active {
  color: rgb(1, 80, 167);
}
.bVpxDS:hover {
  color: rgb(1, 80, 167);
}
.bVpxDS.noFocus:focus {
  text-decoration: none;
}
.bJijuu {
  box-sizing: border-box;
  padding-right: 8px;
  padding-left: 8px;
  max-width: 100%;
  display: block;
  flex: 0 0 100%;
}
@media screen and (min-width: 768px) {
  .bJijuu {
    padding-right: 12px;
    padding-left: 12px;
    max-width: 100%;
    display: block;
    flex: 0 0 100%;
  }
}
/* @media screen and (max-width: 768px) {
  .QWlNG {
    display: none !important;
   
  }
} */
@media screen and (min-width: 1024px) {
  .bJijuu {
    max-width: 100%;
    display: block;
    flex: 0 0 100%;
  }
}
@media screen and (min-width: 1440px) {
  .bJijuu {
    max-width: 100%;
    display: block;
    flex: 0 0 100%;
  }
}
.dooIXp {
  display: flex;
  flex: 0 1 auto;
  flex-flow: wrap;
  box-sizing: border-box;
  margin-left: -8px;
  margin-right: -8px;
}
@media screen and (min-width: 768px) {
  .dooIXp {
    margin-left: -12px;
    margin-right: -12px;
  }
}
.jkFJKv {
  outline: none;
  margin: 0px;
  appearance: none;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-color: rgb(153, 153, 153);
  border-radius: 2px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.checkbox--small .jkFJKv {
  width: 16px;
  height: 16px;
}
.jkFJKv:active {
  transform: scale(0.95, 0.95);
}
.jkFJKv::before {
  content: "";
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid rgb(153, 153, 153);
  position: absolute;
  cursor: pointer;
  transition: border-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}
.checkbox--small .jkFJKv::before {
  width: 16px;
  height: 16px;
}
.jkFJKv:hover::before {
  border-width: 2px;
  border-color: rgb(2, 108, 223);
}
.jkFJKv:focus::before {
  outline: none;
  box-shadow: rgb(2, 108, 223) 0px 0px 5px 0px;
  border-color: rgb(2, 108, 223);
}
.checkbox--small .jkFJKv:focus::before {
  width: 16px;
  height: 16px;
}
.jkFJKv::after {
  content: "";
  box-sizing: border-box;
  transform: scale(0.7, 0.7);
  border-radius: 2px;
  background-color: rgb(2, 108, 223);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
.lxKAG {
  position: relative;
  outline: none;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-align: left;
}
.lxKAG.checkbox--small {
  font-size: 14px;
  line-height: 1.29;
}
.fyzToX {
  color: rgb(38, 38, 38);
  display: flex;
  outline: none;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-left: 7px;
  width: 90%;
  -webkit-box-align: center;
  align-items: center;
}
.dBhDpi {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  color: rgb(2, 108, 223);
  -webkit-box-align: center;
  align-items: center;
  transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
.cSNLHd {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  margin-top: 3px;
  transform: scale(0.7, 0.7);
}
.kWwWMH {
  display: inline;
}
.hCRjcc {
  height: 100%;
}
.bIcJwz {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 0px;
}
@media (min-width: 320px) {
  .bIcJwz {
    padding-top: 8px;
    padding-bottom: 0px;
  }
}
@media (min-width: 375px) {
  .bIcJwz {
    padding-top: 8px;
    padding-bottom: 0px;
  }
}
@media (min-width: 720px) {
  .bIcJwz {
    padding-top: 8px;
    padding-bottom: 0px;
  }
}
@media (min-width: 900px) {
  .bIcJwz {
    padding-top: 8px;
    padding-bottom: 0px;
  }
}
.jzPeCS {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.bbwRJT {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
@media (min-width: 320px) {
  .bbwRJT {
    background-color: transparent;
  }
}
.fBJkxj {
  z-index: 2;
  height: 100%;
  position: absolute;
  border-radius: 0px 4px 4px 0px;
  top: 0px;
  width: 100%;
}
@media (min-width: 720px) {
  .fBJkxj {
    height: auto;
    margin: 0px 24px;
    max-width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;
    top: auto;
    width: auto;
  }
}
.lgbMrD {
  height: 100%;
  width: 100%;
  inset: 0px;
}
body {
  margin: 0px;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0px;
}
a {
  background-color: transparent;
}
img {
  border-style: none;
}
button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
button,
[type="button"],
[type="submit"] {
  appearance: button;
}
textarea {
  overflow: auto;
}
[type="checkbox"] {
  box-sizing: border-box;
  padding: 0px;
}
body {
  font-family: Averta, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.password--feedback-inline {
  display: flex;
  flex-direction: column;
}
div.layout {
  border-radius: 4px;
}
@media (min-width: 320px) {
  div.layout {
    height: 100vh;
    max-height: 697px;
  }
}
body,
#root {
  height: 100%;
}
.kHbQih {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ABCHv {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}
@media (min-width: 375px) {
  .ABCHv {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.dkhRER {
  height: 100%;
  display: flex;
  overflow: auto;
  flex-direction: column;
}
.cVmher {
  margin: 2px 0px 16px;
  color: rgb(38, 38, 38);
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
}
.cObnZI {
  padding: 16px 16px 4px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 375px) {
  .cObnZI {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 375px) {
  .cObnZI {
    padding-top: 32px;
  }
}
.gwrImx {
  display: flex;
  padding: 16px 16px 32px;
  position: relative;
  -webkit-box-pack: end;
  justify-content: flex-end;
  flex-direction: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-shrink: 0;
  margin-bottom: 0px;
}
@media (min-width: 375px) {
  .gwrImx {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 375px) {
  .gwrImx {
    padding-top: 16px;
  }
}
.gwrImx > :first-child {
  margin-bottom: 24px;
}
.fWUSRv {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
@media (min-width: 375px) {
  .cnaHyU {
    width: auto;
    min-width: auto;
    white-space: nowrap;
    text-transform: none;
  }
}
.cifGdO {
  position: relative;
}
.kOEUDk {
  visibility: visible;
}
.jRyULD {
  color: rgba(38, 38, 38, 0.65);
}
.geFkUX {
  display: flex;
  flex-shrink: 0;
  margin-left: 1px;
}
.eMqhjc {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 24px;
}
.tSGxo {
  position: relative;
  box-sizing: border-box;
  padding: 0px;
  overflow: hidden;
  display: flex;
  flex: 1 1 0%;
}
.tSGxo::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 10px;
  z-index: 2;
  box-shadow: rgb(0, 0, 0) 0px 10px 22px -23px inset;
  visibility: hidden;
}
.tSGxo::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 10px;
  z-index: 2;
  box-shadow: rgb(0, 0, 0) 0px -10px 22px -23px inset;
  visibility: hidden;
}
.hnJKGH {
  overflow-y: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
/*! CSS Used from: Embedded */
.grecaptcha-badge {
  visibility: hidden;
}
/*! CSS Used from: Embedded */
#onetrust-pc-sdk .ot-close-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 12px;
  width: 12px;
}
#onetrust-pc-sdk .ot-pc-footer-logo a {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  width: 152px;
  display: block;
  text-decoration: none;
  font-size: 0.75em;
}
#onetrust-pc-sdk .ot-pc-footer-logo a:hover {
  color: #565656;
}
#onetrust-pc-sdk button * {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
#onetrust-pc-sdk .ot-hide {
  display: none !important;
}
#onetrust-pc-sdk button.ot-link-btn:hover {
  text-decoration: underline;
  opacity: 1;
}
#onetrust-pc-sdk .ot-sdk-row .ot-sdk-column {
  padding: 0;
}
#onetrust-pc-sdk .ot-sdk-container {
  padding-right: 0;
}
#onetrust-pc-sdk .ot-sdk-row {
  flex-direction: initial;
  width: 100%;
}
#onetrust-pc-sdk [type="checkbox"]:checked,
#onetrust-pc-sdk [type="checkbox"]:not(:checked) {
  pointer-events: initial;
}
#onetrust-pc-sdk [type="checkbox"]:disabled + label::before,
#onetrust-pc-sdk [type="checkbox"]:disabled + label:after,
#onetrust-pc-sdk [type="checkbox"]:disabled + label {
  pointer-events: none;
  opacity: 0.7;
}
#onetrust-pc-sdk input {
  margin: 3px 0.1ex;
}
#onetrust-pc-sdk .ot-pc-logo {
  height: 60px;
  width: 180px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#onetrust-pc-sdk .ot-pc-logo img {
  max-height: 100%;
  max-width: 100%;
}
#onetrust-pc-sdk .ot-scrn-rdr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#onetrust-pc-sdk.ot-fade-in,
.onetrust-pc-dark-filter.ot-fade-in {
  animation-name: onetrust-fade-in;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
}
#onetrust-pc-sdk.ot-hide {
  display: none !important;
}
.onetrust-pc-dark-filter.ot-hide {
  display: none !important;
}
.onetrust-pc-dark-filter {
  background: rgba(0, 0, 0, 0.5);
  z-index: 2147483646;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}
@media only screen and (min-width: 426px) and (max-width: 896px) and (orientation: landscape) {
  #onetrust-pc-sdk p {
    font-size: 0.75em;
  }
}
#onetrust-pc-sdk .ot-pc-footer-logo img {
  width: 136px;
  height: 16px;
}
#onetrust-pc-sdk .ot-optout-signal {
  border: 1px solid #32ae88;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #f9fffa;
  font-size: 0.85rem;
  line-height: 2;
}
#onetrust-pc-sdk .ot-optout-signal .ot-optout-icon {
  display: inline;
  margin-right: 5px;
}
#onetrust-pc-sdk .ot-optout-signal svg {
  height: 20px;
  width: 30px;
  transform: scale(0.5);
}
#onetrust-pc-sdk .ot-optout-signal svg path {
  fill: #32ae88;
}
#onetrust-pc-sdk {
  font-size: 16px;
}
#onetrust-pc-sdk *,
#onetrust-pc-sdk ::after,
#onetrust-pc-sdk ::before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#onetrust-pc-sdk div,
#onetrust-pc-sdk span,
#onetrust-pc-sdk h2,
#onetrust-pc-sdk h3,
#onetrust-pc-sdk h4,
#onetrust-pc-sdk p,
#onetrust-pc-sdk img,
#onetrust-pc-sdk svg,
#onetrust-pc-sdk button,
#onetrust-pc-sdk section,
#onetrust-pc-sdk a,
#onetrust-pc-sdk label,
#onetrust-pc-sdk input,
#onetrust-pc-sdk ul,
#onetrust-pc-sdk li,
#onetrust-pc-sdk #ot-pc-content {
  font-family: inherit;
  font-weight: normal;
  -webkit-font-smoothing: auto;
  letter-spacing: normal;
  line-height: normal;
  padding: 0;
  margin: 0;
  height: auto;
  min-height: 0;
  max-height: none;
  width: auto;
  min-width: 0;
  max-width: none;
  border-radius: 0;
  border: none;
  clear: none;
  float: none;
  position: static;
  bottom: auto;
  left: auto;
  right: auto;
  top: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  background: none;
  overflow: visible;
  vertical-align: baseline;
  visibility: visible;
  z-index: auto;
  box-shadow: none;
}
#onetrust-pc-sdk label:before,
#onetrust-pc-sdk label:after {
  content: "";
  content: none;
}
#onetrust-pc-sdk .ot-sdk-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
#onetrust-pc-sdk .ot-sdk-column,
#onetrust-pc-sdk .ot-sdk-columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 0;
  display: initial;
}
@media (min-width: 400px) {
  #onetrust-pc-sdk .ot-sdk-container {
    width: 90%;
    padding: 0;
  }
}
@media (min-width: 550px) {
  #onetrust-pc-sdk .ot-sdk-container {
    width: 100%;
  }
  #onetrust-pc-sdk .ot-sdk-column,
  #onetrust-pc-sdk .ot-sdk-columns {
    margin-left: 4%;
  }
  #onetrust-pc-sdk .ot-sdk-column:first-child,
  #onetrust-pc-sdk .ot-sdk-columns:first-child {
    margin-left: 0;
  }
  #onetrust-pc-sdk .ot-sdk-four.ot-sdk-columns {
    width: 30.6666666667%;
  }
  #onetrust-pc-sdk .ot-sdk-eight.ot-sdk-columns {
    width: 65.3333333333%;
  }
}
#onetrust-pc-sdk h2,
#onetrust-pc-sdk h3,
#onetrust-pc-sdk h4 {
  margin-top: 0;
  font-weight: 600;
  font-family: inherit;
}
#onetrust-pc-sdk h2 {
  font-size: 1.5rem;
  line-height: 1.25;
}
#onetrust-pc-sdk h3 {
  font-size: 1.5rem;
  line-height: 1.3;
}
#onetrust-pc-sdk h4 {
  font-size: 1.5rem;
  line-height: 1.35;
}
@media (min-width: 550px) {
  #onetrust-pc-sdk h2 {
    font-size: 1.5rem;
  }
  #onetrust-pc-sdk h3 {
    font-size: 1.5rem;
  }
  #onetrust-pc-sdk h4 {
    font-size: 1.5rem;
  }
}
#onetrust-pc-sdk p {
  margin: 0 0 1em 0;
  font-family: inherit;
  line-height: normal;
}
#onetrust-pc-sdk a {
  color: #565656;
  text-decoration: underline;
}
#onetrust-pc-sdk a:hover {
  color: #565656;
  text-decoration: none;
}
#onetrust-pc-sdk button {
  margin-bottom: 1rem;
  font-family: inherit;
}
#onetrust-pc-sdk button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.01em;
  text-decoration: none;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
#onetrust-pc-sdk :not(.ot-leg-btn-container) > button:not(.ot-link-btn):hover,
#onetrust-pc-sdk :not(.ot-leg-btn-container) > button:not(.ot-link-btn):focus {
  color: #333;
  border-color: #888;
  opacity: 0.7;
}
#onetrust-pc-sdk :not(.ot-leg-btn-container) > button:focus {
  outline: 2px solid #000;
}
#onetrust-pc-sdk input[type="text"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
#onetrust-pc-sdk input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#onetrust-pc-sdk input[type="text"]:focus {
  border: 1px solid #000;
  outline: 0;
}
#onetrust-pc-sdk label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
#onetrust-pc-sdk input[type="checkbox"] {
  display: inline;
}
#onetrust-pc-sdk ul {
  list-style: circle inside;
}
#onetrust-pc-sdk ul {
  padding-left: 0;
  margin-top: 0;
}
#onetrust-pc-sdk li {
  margin-bottom: 1rem;
}
#onetrust-pc-sdk button {
  margin-bottom: 1rem;
  font-family: inherit;
}
#onetrust-pc-sdk .ot-sdk-container:after,
#onetrust-pc-sdk .ot-sdk-row:after {
  content: "";
  display: table;
  clear: both;
}
#onetrust-pc-sdk .ot-sdk-row {
  margin: 0;
  max-width: none;
  display: block;
}
#onetrust-pc-sdk {
  font-family: Averta, sans-serif;
}
#onetrust-pc-sdk {
  position: fixed;
  width: 730px;
  max-width: 730px;
  height: 610px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 16px;
  z-index: 2147483647;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0), 0 7px 14px 0 rgba(50, 50, 93, 0.1);
}
#onetrust-pc-sdk *,
#onetrust-pc-sdk ::after,
#onetrust-pc-sdk ::before {
  box-sizing: content-box;
}
#onetrust-pc-sdk #ot-pc-content,
#onetrust-pc-sdk #ot-pc-lst {
  height: calc(100% - 185px);
}
#onetrust-pc-sdk li {
  list-style: none;
}
#onetrust-pc-sdk ul,
#onetrust-pc-sdk li {
  margin: 0;
}
#onetrust-pc-sdk a {
  text-decoration: none;
}
#onetrust-pc-sdk .ot-link-btn {
  padding: 0;
  margin-bottom: 0;
  border: 0;
  font-weight: normal;
  line-height: normal;
  width: auto;
  height: auto;
}
#onetrust-pc-sdk .ot-grps-cntr *::-webkit-scrollbar,
#onetrust-pc-sdk .ot-pc-scrollbar::-webkit-scrollbar {
  width: 11px;
}
#onetrust-pc-sdk .ot-grps-cntr *::-webkit-scrollbar-thumb,
#onetrust-pc-sdk .ot-pc-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #c1c1c1;
}
#onetrust-pc-sdk .ot-grps-cntr *,
#onetrust-pc-sdk .ot-pc-scrollbar {
  scrollbar-arrow-color: #c1c1c1;
  scrollbar-darkshadow-color: #c1c1c1;
  scrollbar-face-color: #c1c1c1;
  scrollbar-shadow-color: #c1c1c1;
}
#onetrust-pc-sdk .ot-pc-header {
  height: auto;
  padding: 10px;
  display: block;
  width: calc(100% - 20px);
  min-height: 52px;
  border-bottom: 1px solid #d8d8d8;
  position: relative;
}
#onetrust-pc-sdk .ot-pc-logo {
  vertical-align: middle;
  width: 180px;
}
#onetrust-pc-sdk .ot-pc-logo.ot-pc-logo {
  height: 40px;
}
#onetrust-pc-sdk .ot-title-cntr {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 190px);
  padding-left: 10px;
}
#onetrust-pc-sdk .ot-optout-signal {
  margin: 0.625rem 0.625rem 0.625rem 1.75rem;
}
#onetrust-pc-sdk .ot-always-active {
  font-size: 0.813em;
  line-height: 1.5;
  font-weight: 700;
  color: #3860be;
}
#onetrust-pc-sdk .ot-close-cntr {
  float: right;
  position: absolute;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}
#onetrust-pc-sdk #ot-pc-content {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
#onetrust-pc-sdk #ot-pc-content .ot-sdk-container {
  margin-left: 0;
}
#onetrust-pc-sdk .ot-grps-cntr,
#onetrust-pc-sdk .ot-grps-cntr > * {
  height: 100%;
  overflow-y: auto;
}
#onetrust-pc-sdk .category-menu-switch-handler {
  cursor: pointer;
  border-left: 10px solid rgba(0, 0, 0, 0);
  background-color: #f4f4f4;
  border-bottom: 1px solid #d7d7d7;
  padding-top: 12px;
  padding-right: 5px;
  padding-bottom: 12px;
  padding-left: 12px;
  overflow: hidden;
}
#onetrust-pc-sdk .category-menu-switch-handler h3 {
  float: left;
  text-align: left;
  margin: 0;
  color: dimgray;
  line-height: 1.4;
  font-size: 0.875em;
  word-break: break-word;
  word-wrap: break-word;
}
#onetrust-pc-sdk .ot-active-menu {
  border-left: 10px solid #68b631;
  background-color: #fff;
  border-bottom: none;
  position: relative;
}
#onetrust-pc-sdk .ot-active-menu h3 {
  color: #263238;
  font-weight: bold;
}
#onetrust-pc-sdk .ot-desc-cntr {
  word-break: break-word;
  word-wrap: break-word;
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 15px;
}
#onetrust-pc-sdk .ot-grp-desc {
  word-break: break-word;
  word-wrap: break-word;
  text-align: left;
  font-size: 0.813em;
  line-height: 1.5;
  margin: 0;
}
#onetrust-pc-sdk .ot-grp-desc * {
  font-size: inherit;
  line-height: inherit;
}
#onetrust-pc-sdk #ot-pc-desc a {
  color: #3860be;
  cursor: pointer;
  font-size: 1em;
  margin-right: 8px;
}
#onetrust-pc-sdk #ot-pc-desc a:hover {
  color: #1883fd;
}
#onetrust-pc-sdk #ot-pc-desc * {
  font-size: inherit;
}
#onetrust-pc-sdk .ot-btn-subcntr {
  float: right;
}
#onetrust-pc-sdk .ot-close-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjQ3Ljk3MSIgaGVpZ2h0PSI0Ny45NzEiIHZpZXdCb3g9IjAgMCA0Ny45NzEgNDcuOTcxIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0Ny45NzEgNDcuOTcxOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggZD0iTTI4LjIyOCwyMy45ODZMNDcuMDkyLDUuMTIyYzEuMTcyLTEuMTcxLDEuMTcyLTMuMDcxLDAtNC4yNDJjLTEuMTcyLTEuMTcyLTMuMDctMS4xNzItNC4yNDIsMEwyMy45ODYsMTkuNzQ0TDUuMTIxLDAuODhjLTEuMTcyLTEuMTcyLTMuMDctMS4xNzItNC4yNDIsMGMtMS4xNzIsMS4xNzEtMS4xNzIsMy4wNzEsMCw0LjI0MmwxOC44NjUsMTguODY0TDAuODc5LDQyLjg1Yy0xLjE3MiwxLjE3MS0xLjE3MiwzLjA3MSwwLDQuMjQyQzEuNDY1LDQ3LjY3NywyLjIzMyw0Ny45NywzLDQ3Ljk3czEuNTM1LTAuMjkzLDIuMTIxLTAuODc5bDE4Ljg2NS0xOC44NjRMNDIuODUsNDcuMDkxYzAuNTg2LDAuNTg2LDEuMzU0LDAuODc5LDIuMTIxLDAuODc5czEuNTM1LTAuMjkzLDIuMTIxLTAuODc5YzEuMTcyLTEuMTcxLDEuMTcyLTMuMDcxLDAtNC4yNDJMMjguMjI4LDIzLjk4NnoiLz48L2c+PC9zdmc+");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  height: 44px;
  width: 44px;
  display: inline-block;
}
#onetrust-pc-sdk .ot-tgl {
  float: right;
  position: relative;
  z-index: 1;
}
#onetrust-pc-sdk .ot-tgl input:checked + .ot-switch .ot-switch-nob {
  background-color: #3c7356;
}
#onetrust-pc-sdk .ot-tgl input:checked + .ot-switch .ot-switch-nob:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: #6f9681;
}
#onetrust-pc-sdk .ot-tgl input:focus + .ot-switch .ot-switch-nob:before {
  box-shadow: 0 0 1px #2196f3;
  outline-style: auto;
  outline-width: 1px;
}
#onetrust-pc-sdk .ot-switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 10px;
  margin-bottom: 0;
}
#onetrust-pc-sdk .ot-switch-nob {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #767676;
  border: none;
  transition: all 0.2s ease-in 0s;
  -moz-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  -webkit-transition: all 0.2s ease-in 0s;
  border-radius: 46px;
}
#onetrust-pc-sdk .ot-switch-nob:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  bottom: 1px;
  background-color: #4d4d4d;
  -webkit-transition: 0.4s;
  border-radius: 100%;
  top: -5px;
  transition: 0.4s;
}
#onetrust-pc-sdk .ot-chkbox {
  z-index: 1;
  position: relative;
  float: left;
}
#onetrust-pc-sdk .ot-chkbox input:checked ~ label::before {
  background-color: #3860be;
}
#onetrust-pc-sdk .ot-chkbox input + label::after {
  content: none;
  color: #fff;
}
#onetrust-pc-sdk .ot-chkbox input:checked + label::after {
  content: "";
}
#onetrust-pc-sdk .ot-chkbox input:focus + label::before {
  outline-style: solid;
  outline-width: 2px;
  outline-style: auto;
}
#onetrust-pc-sdk .ot-chkbox label {
  position: relative;
  height: 20px;
  padding-left: 30px;
  display: inline-block;
  cursor: pointer;
}
#onetrust-pc-sdk .ot-chkbox label::before,
#onetrust-pc-sdk .ot-chkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
  border-radius: 3px;
}
#onetrust-pc-sdk .ot-chkbox label::before {
  height: 18px;
  width: 18px;
  border: 1px solid #3860be;
  left: 0px;
}
#onetrust-pc-sdk .ot-chkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 3px solid;
  border-bottom: 3px solid;
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  left: 4px;
  top: 5px;
}
#onetrust-pc-sdk .ot-label-txt {
  display: none;
}
#onetrust-pc-sdk .ot-fltr-opt .ot-label-txt {
  display: block;
}
#onetrust-pc-sdk .ot-chkbox input,
#onetrust-pc-sdk .ot-tgl input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
#onetrust-pc-sdk .ot-label-status {
  font-size: 0.75em;
  position: relative;
  top: 2px;
  display: none;
  padding-right: 5px;
  float: left;
}
#onetrust-pc-sdk #ot-lst-cnt .ot-label-status {
  top: -6px;
}
#onetrust-pc-sdk .ot-fltr-btns {
  margin-left: 15px;
  overflow: hidden;
  margin-right: 15px;
}
#onetrust-pc-sdk .ot-fltr-btns button {
  padding: 12px 30px;
}
#onetrust-pc-sdk .ot-pc-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: 160px;
  border-top: 1px solid #d8d8d8;
}
#onetrust-pc-sdk .ot-pc-footer button {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 0.813em;
  min-height: 40px;
  height: auto;
  line-height: normal;
  padding: 10px 30px;
}
#onetrust-pc-sdk .ot-tab-desc {
  margin-left: 3%;
}
#onetrust-pc-sdk .ot-grp-hdr1 {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
#onetrust-pc-sdk .ot-desc-cntr h4 {
  color: #263238;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-weight: bold;
  font-size: 0.875em;
  line-height: 1.3;
  max-width: 80%;
}
#onetrust-pc-sdk #ot-pvcy-hdr {
  margin-bottom: 10px;
}
#onetrust-pc-sdk .category-host-list-handler {
  display: block;
  float: left;
  color: #3860be;
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.1;
  cursor: pointer;
  margin: 5px 0px;
}
#onetrust-pc-sdk .category-host-list-handler:hover {
  text-decoration-line: underline;
}
#onetrust-pc-sdk .category-host-list-handler {
  margin-top: 8px;
}
#onetrust-pc-sdk .ot-always-active-group .ot-tgl-cntr {
  max-width: 28%;
}
#onetrust-pc-sdk .ot-pc-footer-logo {
  height: 30px;
  width: 100%;
  text-align: right;
  background: #f4f4f4;
  border-radius: 0 0 2px 2px;
}
#onetrust-pc-sdk .ot-pc-footer-logo a {
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
}
#onetrust-pc-sdk #accept-recommended-btn-handler {
  float: right;
  text-align: center;
}
#onetrust-pc-sdk .save-preference-btn-handler {
  min-width: 155px;
  background-color: #68b631;
  border-radius: 2px;
  color: #fff;
  font-size: 0.9em;
  line-height: 1.1;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
#onetrust-pc-sdk .ot-btn-subcntr button {
  margin-right: 16px;
}
#onetrust-pc-sdk #ot-pc-title {
  margin: 0px;
  overflow: hidden;
  position: relative;
  line-height: 1.2;
  max-height: 2.4em;
  padding-right: 1em;
  font-size: 1.37em;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  max-width: 90%;
}
#onetrust-pc-sdk #ot-pc-lst {
  width: 100%;
  position: relative;
}
#onetrust-pc-sdk .ot-lst-cntr {
  height: 100%;
}
#onetrust-pc-sdk #ot-pc-hdr {
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 20px;
  display: inline-block;
  width: calc(100% - 50px);
  height: 20px;
  border-bottom: 1px solid #d8d8d8;
}
#onetrust-pc-sdk #ot-pc-hdr input {
  height: 32px;
  width: 100%;
  border-radius: 50px;
  font-size: 0.8em;
  padding-right: 35px;
  padding-left: 15px;
  float: left;
}
#onetrust-pc-sdk #ot-pc-hdr input::placeholder {
  color: #d4d4d4;
  font-style: italic;
}
#onetrust-pc-sdk #ot-lst-cnt {
  height: calc(100% - 86px);
  padding-left: 30px;
  padding-right: 27px;
  padding-top: 20px;
  margin-top: 8px;
  margin-right: 3px;
  margin-bottom: 4px;
  margin-left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate3d(0, 0, 0);
}
#onetrust-pc-sdk #ot-back-arw {
  height: 12px;
  width: 12px;
}
#onetrust-pc-sdk #ot-lst-title {
  display: inline-block;
  font-size: 1em;
}
#onetrust-pc-sdk #ot-lst-title h3 {
  color: dimgray;
  font-weight: bold;
  margin-left: 10px;
  display: inline-block;
  font-size: 1em;
}
#onetrust-pc-sdk .ot-lst-subhdr {
  float: right;
  position: relative;
  bottom: 6px;
}
#onetrust-pc-sdk #ot-search-cntr {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 300px;
}
#onetrust-pc-sdk #ot-search-cntr svg {
  position: absolute;
  right: 0px;
  width: 30px;
  height: 30px;
  font-size: 1em;
  line-height: 1;
  top: 2px;
}
#onetrust-pc-sdk #ot-fltr-cntr {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  vertical-align: middle;
  font-size: 0;
}
#onetrust-pc-sdk #filter-btn-handler {
  background-color: #3860be;
  border-radius: 17px;
  -moz-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  -webkit-transition: 1s ease;
  transition: 0.1s ease;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  position: relative;
}
#onetrust-pc-sdk #filter-btn-handler svg {
  cursor: pointer;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 5px;
}
#onetrust-pc-sdk #filter-btn-handler path {
  fill: #fff;
}
#onetrust-pc-sdk #ot-sel-blk {
  min-width: 200px;
  min-height: 30px;
  padding-left: 20px;
}
#onetrust-pc-sdk #ot-selall-vencntr {
  float: left;
  height: 100%;
}
#onetrust-pc-sdk #ot-selall-vencntr label {
  height: 100%;
  padding-left: 0;
}
#onetrust-pc-sdk #ot-selall-hostcntr {
  width: 21px;
  height: 21px;
  position: relative;
  left: 20px;
}
#onetrust-pc-sdk #ot-selall-hostcntr input[type="checkbox"],
#onetrust-pc-sdk #ot-selall-vencntr input[type="checkbox"] {
  position: absolute;
}
#onetrust-pc-sdk #ot-host-lst {
  width: 100%;
}
#onetrust-pc-sdk label {
  margin-bottom: 0;
}
#onetrust-pc-sdk .ot-tgl-cntr {
  display: inline-block;
  vertical-align: middle;
}
#onetrust-pc-sdk .ot-tgl-cntr {
  float: right;
}
#onetrust-pc-sdk .ot-desc-cntr {
  padding-top: 0px;
  margin-top: 20px;
  padding-right: 0px;
  border-radius: 3px;
  overflow: hidden;
  padding-bottom: 10px;
}
#onetrust-pc-sdk .ot-desc-cntr:focus,
#onetrust-pc-sdk .ot-desc-cntr:active {
  outline: 2px solid #101010;
  border-radius: 2px;
}
#onetrust-pc-sdk .ot-category-desc {
  padding-bottom: 10px;
}
#onetrust-pc-sdk .ot-grp-hdr1 {
  padding-left: 10px;
  width: calc(100% - 20px);
  padding-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 8px;
}
#onetrust-pc-sdk .ot-desc-cntr > *:not(.ot-grp-hdr1) {
  padding-left: 10px;
  padding-right: 10px;
}
#onetrust-pc-sdk .ot-desc-cntr .ot-tgl-cntr:first-of-type,
#onetrust-pc-sdk .ot-cat-header + .ot-tgl {
  padding-left: 7px;
  padding-right: 7px;
}
#onetrust-pc-sdk
  .ot-always-active-group
  .ot-grp-hdr1
  .ot-tgl-cntr:first-of-type {
  padding-left: 0px;
}
#onetrust-pc-sdk .ot-cat-header {
  max-width: calc(100% - 133px);
}
#onetrust-pc-sdk #ot-lst-cnt #ot-sel-blk {
  width: 100%;
  display: inline-block;
  padding: 0;
}
#onetrust-pc-sdk .ot-sel-all {
  display: inline-block;
  width: 100%;
}
#onetrust-pc-sdk .ot-sel-all-hdr,
#onetrust-pc-sdk .ot-sel-all-chkbox {
  width: 100%;
  float: right;
  position: relative;
}
#onetrust-pc-sdk .ot-sel-all-chkbox {
  z-index: 1;
}
#onetrust-pc-sdk :not(.ot-hosts-ui) .ot-sel-all-hdr,
#onetrust-pc-sdk :not(.ot-hosts-ui) .ot-sel-all-chkbox {
  right: 23px;
  width: calc(100% - 23px);
}
#onetrust-pc-sdk .ot-consent-hdr,
#onetrust-pc-sdk .ot-li-hdr {
  float: right;
  font-size: 0.813em;
  position: relative;
  line-height: normal;
  text-align: center;
  word-break: break-word;
  word-wrap: break-word;
}
#onetrust-pc-sdk .ot-li-hdr {
  max-width: 100px;
  margin-right: 10px;
}
#onetrust-pc-sdk .ot-consent-hdr {
  max-width: 55px;
}
#onetrust-pc-sdk #ot-selall-licntr {
  display: block;
  width: 21px;
  height: 21px;
  position: relative;
  float: right;
  right: 80px;
}
#onetrust-pc-sdk #ot-selall-licntr input {
  position: absolute;
}
#onetrust-pc-sdk #ot-selall-vencntr {
  float: right;
  width: 21px;
  height: 21px;
  position: relative;
  right: 15px;
}
#onetrust-pc-sdk #ot-anchor {
  border: 12px solid rgba(0, 0, 0, 0);
  display: none;
  position: absolute;
  z-index: 2147483647;
  top: 40px;
  right: 35px;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background-color: #fff;
  -webkit-box-shadow: -3px -3px 5px -2px #c7c5c7;
  -moz-box-shadow: -3px -3px 5px -2px #c7c5c7;
  box-shadow: -3px -3px 5px -2px #c7c5c7;
}
#onetrust-pc-sdk #ot-fltr-modal {
  width: 300px;
  position: absolute;
  z-index: 2147483646;
  top: 46px;
  height: 90%;
  max-height: 350px;
  display: none;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -webkit-transition: 2s ease;
  transition: 0.2s ease;
  opacity: 1;
  right: 0;
}
#onetrust-pc-sdk #ot-fltr-modal button {
  max-width: 200px;
  line-height: 1;
  word-break: break-word;
  white-space: normal;
  height: auto;
  font-weight: bold;
}
#onetrust-pc-sdk #ot-fltr-cnt {
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  height: 100%;
  margin-right: 10px;
  padding-right: 10px;
  -webkit-box-shadow: 0px 0px 12px 2px #c7c5c7;
  -moz-box-shadow: 0px 0px 12px 2px #c7c5c7;
  box-shadow: 0px 0px 12px 2px #c7c5c7;
}
#onetrust-pc-sdk .ot-fltr-scrlcnt {
  overflow-y: auto;
  overflow-x: hidden;
  clear: both;
  max-height: calc(100% - 60px);
}
#onetrust-pc-sdk .ot-fltr-opt {
  margin-bottom: 25px;
  margin-left: 15px;
  clear: both;
}
#onetrust-pc-sdk .ot-fltr-opt label {
  height: auto;
}
#onetrust-pc-sdk .ot-fltr-opt span {
  cursor: pointer;
  color: dimgray;
  font-size: 0.8em;
  line-height: 1.1;
  font-weight: normal;
}
#onetrust-pc-sdk #clear-filters-handler {
  float: right;
  margin-top: 15px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #3860be;
  font-size: 0.9em;
  border: none;
  padding: 1px;
}
#onetrust-pc-sdk #clear-filters-handler:hover {
  color: #1883fd;
}
#onetrust-pc-sdk #clear-filters-handler:focus {
  outline: #000 solid 1px;
}
#onetrust-pc-sdk #filter-apply-handler {
  margin-right: 10px;
}
#onetrust-pc-sdk .ot-grps-cntr {
  overflow-y: hidden;
}
#onetrust-pc-sdk .ot-cat-header {
  float: left;
  font-weight: 600;
  font-size: 0.875em;
  line-height: 1.5;
  max-width: 90%;
  vertical-align: middle;
}
#onetrust-pc-sdk #ot-lst-cnt {
  margin-top: 1rem;
  max-height: calc(100% - 96px);
}
#onetrust-pc-sdk #close-pc-btn-handler.ot-close-icon {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0;
}
@media (max-width: 767px) {
  #onetrust-pc-sdk {
    width: 100%;
    border: none;
  }
  #onetrust-pc-sdk .ot-optout-signal {
    margin: 0.625rem;
  }
  #onetrust-pc-sdk .ot-sdk-container {
    padding: 0;
    margin: 0;
  }
  #onetrust-pc-sdk #ot-pc-title {
    margin-left: 10px;
    max-width: 60%;
  }
  #onetrust-pc-sdk .ot-desc-cntr {
    margin: 0;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    position: relative;
    left: auto;
  }
  #onetrust-pc-sdk .ot-desc-cntr {
    margin-top: 20px;
    margin-left: 20px;
    padding: 0;
    padding-bottom: 10px;
  }
  #onetrust-pc-sdk .ot-grps-cntr {
    max-height: none;
    overflow: hidden;
  }
  #onetrust-pc-sdk #accept-recommended-btn-handler {
    float: none;
  }
}
@media (max-width: 640px) {
  #onetrust-pc-sdk {
    height: 100%;
  }
  #onetrust-pc-sdk .ot-optout-signal {
    margin: 0.625rem;
  }
  #onetrust-pc-sdk .ot-pc-header {
    padding: 10px;
    width: calc(100% - 20px);
  }
  #onetrust-pc-sdk #ot-pc-content {
    overflow: auto;
  }
  #onetrust-pc-sdk .ot-sdk-row .ot-sdk-columns {
    width: 100%;
  }
  #onetrust-pc-sdk .ot-desc-cntr {
    margin: 0;
    overflow: hidden;
  }
  #onetrust-pc-sdk .ot-desc-cntr {
    margin-left: 10px;
    width: calc(100% - 15px);
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #onetrust-pc-sdk #ot-lst-cnt {
    width: calc(100% - 18px);
    padding-top: 13px;
    padding-right: 5px;
    padding-left: 10px;
  }
  #onetrust-pc-sdk .ot-grps-cntr {
    width: 100%;
  }
  #onetrust-pc-sdk .ot-pc-footer {
    max-height: 300px;
  }
  #onetrust-pc-sdk #ot-pc-content,
  #onetrust-pc-sdk #ot-pc-lst {
    height: calc(100% - 322px);
  }
}
@media (max-width: 640px) and (orientation: portrait) {
  #onetrust-pc-sdk #ot-pc-hdr {
    height: 70px;
    padding: 15px 0;
    width: 100%;
  }
  #onetrust-pc-sdk .ot-lst-subhdr {
    width: calc(100% - 15px);
    float: none;
    bottom: auto;
    display: inline-block;
    padding-top: 8px;
    padding-left: 15px;
  }
  #onetrust-pc-sdk .ot-btn-subcntr {
    float: none;
  }
  #onetrust-pc-sdk #ot-search-cntr {
    display: inline-block;
    width: calc(100% - 55px);
    position: relative;
  }
  #onetrust-pc-sdk #ot-anchor {
    top: 75px;
    right: 30px;
  }
  #onetrust-pc-sdk #ot-fltr-modal {
    top: 81px;
  }
  #onetrust-pc-sdk #ot-fltr-cntr {
    float: right;
    right: 15px;
  }
  #onetrust-pc-sdk #ot-lst-title {
    padding-left: 15px;
  }
  #onetrust-pc-sdk #ot-lst-cnt {
    height: auto;
    overflow: auto;
  }
  #onetrust-pc-sdk .save-preference-btn-handler,
  #onetrust-pc-sdk #accept-recommended-btn-handler,
  #onetrust-pc-sdk .ot-pc-refuse-all-handler {
    width: calc(100% - 33px);
  }
}
@media (max-width: 425px) {
  #onetrust-pc-sdk #ot-pc-title {
    max-width: 100%;
  }
  #onetrust-pc-sdk .ot-always-active-group .ot-tgl-cntr:first-of-type {
    max-width: none;
    padding-left: 20px;
  }
}
@media only screen and (max-height: 425px) and (max-width: 896px) and (orientation: landscape) {
  #onetrust-pc-sdk {
    height: 100%;
    width: 100%;
    max-width: none;
  }
  #onetrust-pc-sdk .ot-always-active-group .ot-tgl-cntr {
    max-width: none;
  }
  #onetrust-pc-sdk .ot-pc-header {
    padding: 10px;
    width: calc(100% - 20px);
    height: auto;
    min-height: 20px;
  }
  #onetrust-pc-sdk .ot-pc-header .ot-pc-logo {
    max-height: 20px;
  }
  #onetrust-pc-sdk .ot-title-cntr {
    max-height: 20px;
  }
  #onetrust-pc-sdk .ot-pc-footer {
    max-height: 52px;
    overflow-y: auto;
  }
  #onetrust-pc-sdk #ot-pc-lst {
    overflow-y: auto;
  }
  #onetrust-pc-sdk #ot-pc-lst #ot-pc-hdr {
    height: auto;
  }
  #onetrust-pc-sdk #ot-pc-lst #ot-pc-hdr .ot-lst-subhdr {
    padding: 10px 5px;
    float: none;
  }
  #onetrust-pc-sdk #ot-pc-lst #ot-pc-hdr .ot-lst-subhdr #ot-fltr-cntr {
    margin-top: 5px;
  }
  #onetrust-pc-sdk #ot-pc-lst #ot-lst-cnt {
    overflow: visible;
  }
  #onetrust-pc-sdk #ot-lst-cnt {
    height: auto;
    overflow: auto;
  }
  #onetrust-pc-sdk #accept-recommended-btn-handler {
    float: right;
  }
  #onetrust-pc-sdk .save-preference-btn-handler,
  #onetrust-pc-sdk #accept-recommended-btn-handler,
  #onetrust-pc-sdk .ot-pc-refuse-all-handler {
    width: auto;
  }
  #onetrust-pc-sdk #ot-pc-content,
  #onetrust-pc-sdk #ot-pc-lst {
    height: calc(100% - 120px);
  }
  #onetrust-pc-sdk .ot-pc-footer button {
    margin: 10px;
  }
}
@media (max-width: 425px),
  (max-width: 896px) and (max-height: 425px) and (orientation: landscape) {
  #onetrust-pc-sdk .ot-pc-header {
    padding-right: 20px;
  }
  #onetrust-pc-sdk .ot-pc-logo {
    margin-left: 0px;
    margin-top: 5px;
    width: 150px;
  }
  #onetrust-pc-sdk .ot-close-icon {
    width: 44px;
    height: 44px;
    background-size: 12px;
  }
  #onetrust-pc-sdk .ot-grp-hdr1 {
    float: right;
    padding-right: 10px;
  }
}
@media only screen and (max-height: 610px) {
  #onetrust-pc-sdk {
    max-height: 100%;
  }
}
#onetrust-consent-sdk #onetrust-pc-sdk,
#onetrust-consent-sdk #ot-search-cntr,
#onetrust-consent-sdk #onetrust-pc-sdk #ot-pc-title:after,
#onetrust-consent-sdk #onetrust-pc-sdk #ot-sel-blk,
#onetrust-consent-sdk #onetrust-pc-sdk #ot-fltr-cnt,
#onetrust-consent-sdk #onetrust-pc-sdk #ot-anchor {
  background-color: #ffffff;
}
#onetrust-consent-sdk #onetrust-pc-sdk h3,
#onetrust-consent-sdk #onetrust-pc-sdk h4,
#onetrust-consent-sdk #onetrust-pc-sdk p,
#onetrust-consent-sdk #onetrust-pc-sdk #ot-pc-desc,
#onetrust-consent-sdk #onetrust-pc-sdk #ot-pc-title,
#onetrust-consent-sdk #onetrust-pc-sdk .ot-sel-all-hdr span,
#onetrust-consent-sdk #onetrust-pc-sdk #ot-pc-lst #ot-lst-title h3,
#onetrust-consent-sdk #onetrust-pc-sdk .ot-label-status,
#onetrust-consent-sdk #onetrust-pc-sdk .ot-chkbox label span,
#onetrust-consent-sdk #onetrust-pc-sdk #clear-filters-handler,
#onetrust-consent-sdk #onetrust-pc-sdk .ot-optout-signal {
  color: #262626;
}
#onetrust-consent-sdk #onetrust-pc-sdk .category-host-list-handler {
  color: #026cdf;
}
#onetrust-consent-sdk
  #onetrust-pc-sdk
  button:not(#clear-filters-handler):not(.ot-close-icon):not(
    #filter-btn-handler
  ):not(.ot-remove-objection-handler):not(.ot-obj-leg-btn-handler):not(
    [aria-expanded]
  ):not(.ot-link-btn) {
  background-color: #026cdf;
  border-color: #026cdf;
  color: #ffffff;
}
#onetrust-consent-sdk #onetrust-pc-sdk .ot-active-menu {
  border-color: #026cdf;
}
#onetrust-consent-sdk #onetrust-pc-sdk .ot-tgl input:focus + .ot-switch,
.ot-switch .ot-switch-nob,
.ot-switch .ot-switch-nob:before,
#onetrust-pc-sdk .ot-chkbox input[type="checkbox"]:focus + label::before {
  outline-color: #000000;
  outline-width: 1px;
}
#onetrust-consent-sdk #onetrust-pc-sdk *:focus {
  outline: 1px solid #000000;
}
#onetrust-consent-sdk #onetrust-pc-sdk .category-menu-switch-handler {
  background-color: #f4f4f4;
}
#onetrust-consent-sdk #onetrust-pc-sdk .ot-active-menu {
  background-color: #ffffff;
}
#onetrust-consent-sdk #onetrust-pc-sdk .category-menu-switch-handler {
  background-color: #f4f4f4;
}
#onetrust-consent-sdk #onetrust-pc-sdk .ot-active-menu {
  background-color: #ffffff;
}
/*! CSS Used keyframes */
@keyframes onetrust-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*! CSS Used fontfaces */
@font-face {
  font-family: Averta;
  src: url("https://s1.s.tmol.io/static/font/averta/light.woff") format("woff"),
    url("https://s1.s.tmol.io/static/font/averta/light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: Averta;
  src: url("https://s1.s.tmol.io/static/font/averta/lightitalic.woff")
      format("woff"),
    url("https://s1.s.tmol.io/static/font/averta/lightitalic.woff2")
      format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Averta;
  src: url("https://s1.s.tmol.io/static/font/averta/regular.woff")
      format("woff"),
    url("https://s1.s.tmol.io/static/font/averta/regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: Averta;
  src: url("https://s1.s.tmol.io/static/font/averta/regularitalic.woff")
      format("woff"),
    url("https://s1.s.tmol.io/static/font/averta/regularitalic.woff2")
      format("woff2");
  font-style: italic;
}
@font-face {
  font-family: Averta;
  src: url("https://s1.s.tmol.io/static/font/averta/semibold.woff")
      format("woff"),
    url("https://s1.s.tmol.io/static/font/averta/semibold.woff2")
      format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: Averta;
  src: url("https://s1.s.tmol.io/static/font/averta/semibolditalic.woff")
      format("woff"),
    url("https://s1.s.tmol.io/static/font/averta/semibolditalic.woff2")
      format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Averta;
  src: url("https://s1.s.tmol.io/static/font/averta/bold.woff") format("woff"),
    url("https://s1.s.tmol.io/static/font/averta/bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: Averta;
  src: url("https://s1.s.tmol.io/static/font/averta/bolditalic.woff")
      format("woff"),
    url("https://s1.s.tmol.io/static/font/averta/bolditalic.woff2")
      format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Averta;
  src: url("https://s1.s.tmol.io/static/font/averta/black.woff") format("woff"),
    url("https://s1.s.tmol.io/static/font/averta/black.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: Averta;
  src: url("https://s1.s.tmol.io/static/font/averta/blackitalic.woff")
      format("woff"),
    url("https://s1.s.tmol.io/static/font/averta/blackitalic.woff2")
      format("woff2");
  font-weight: 800;
  font-style: italic;
}
